root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yml,yaml,json,toml}]
indent_size = 2

[*.{yml,yaml,properties}]
indent_style = space

[*.bat]
end_of_line = crlf

[*.{mapping,tiny,match}]
trim_trailing_whitespace = false
