*.DS_Store
*.cache/
/*.jar
/*.apk
/.jadx/
/namedSrc/
/yt-mappings*.tiny

# Gradle
.gradle/
build/
classes/
out/

# IntelliJ Idea
.idea/
*.iml
*.ipr
*.iws

# Eclipse
*.launch
.eclipse/
bin/

# VS Code
.settings/
.vscode/

# Fleet
.fleet/

# MacOS
*.DS_Store

# Java
*.hprof
*.jfr
hs_err_*.log
replay_*.log
